@import "~bulma/sass/utilities/initial-variables";

// United theme
$grey-darker: #222;
$grey-dark: #333;
$grey: #777;
$grey-light: #aea79f;
$grey-lighter: #ddd;
$orange: #e95420;
$yellow: #efb73e;
$green: #38b44a;
$purple: #772953;
$red: #df382c;
$blue: #17a2b8;
$primary: $blue !default;
$info: $purple;
$yellow-invert: #fff;
$warning-invert: $yellow-invert;
$family-sans-serif: "Oxygen", sans-serif;
$subtitle-color: $grey;
$navbar-background-color:$blue;

// App
$size-base: 1rem;
$default-padding: $size-base * 1.5;
$base-color: $black-ter;
$base-color-light: rgba(24,28,33,0.06);
$body-background-color: #f8f8f8;
$link: $blue;
$link-visited: $purple;
$light-border: 1px solid $base-color-light;
$hr-height: 1px;
$navbar-input-color: $grey-darker;
$navbar-input-placeholder-color: $grey-lighter;
$navbar-box-shadow: 0 1px 0 rgba(24,28,33,.04);
$navbar-divider-border: 1px solid rgba($grey-lighter, .25);
$navbar-item-h-padding: $default-padding * .75;
$navbar-cover-size: 1.75rem;
$menu-item-radius: 0;
$menu-list-link-padding: $size-base * .5 0;
$menu-label-color: lighten($base-color, 25%);
$menu-item-color: lighten($base-color, 30%);
$menu-item-hover-color: $white;
$menu-item-hover-background-color: darken($base-color, 3.5%);
$menu-item-active-color: $white;
$menu-item-active-background-color: darken($base-color, 2.5%);
$aside-width: $size-base * 14;
$aside-mobile-width: $size-base * 15;
$aside-icon-width: $size-base * 3;
$aside-submenu-font-size: $size-base * .95;
$aside-box-shadow: none;
$aside-background-color: $base-color;
$aside-tools-background-color: $blue;
$aside-tools-color: $white;
$title-bar-color: $grey;
$title-bar-active-color: $black-ter;
$hero-bar-background: $white;
$card-shadow: none;
$card-header-shadow: none;
$card-border: 1px solid $base-color-light;
$card-header-border-bottom-color: $base-color-light;
$table-cell-border: 1px solid $white-bis;
$table-cover-size: $size-base * 3;
$table-cover-size-mobile: 25vw;
$table-checkbox-border-width: 1px;
$table-checkbox-border-color: $grey-lighter;
$checkbox-border: 1px solid $base-color;
$modal-card-head-background-color: $white-ter;
$modal-card-title-size: $size-base;
$modal-card-body-padding: $default-padding 20px;
$modal-card-head-border-bottom: 1px solid $white-ter;
$modal-card-foot-border-top: 0;
$modal-card-width: 40vw;
$modal-card-width-mobile: 90vw;
$modal-card-foot-background-color: $white-ter;
$notification-padding: $default-padding * .75 $default-padding;
$footer-background-color: $white;
$footer-padding: $default-padding * .33 $default-padding;
$progress-bar-background-color: $grey-lighter;
$icon-update-mark-size: $size-base * .5;
$icon-update-mark-color: $yellow;
