<template>
  <div>
    <title-bar :title-stack="['Admin', 'Películas']"/>
    <hero-bar>
      Películas
      <router-link to="/movies/new" class="button" slot="right">
        Nueva película
      </router-link>
    </hero-bar>
    <section class="section is-main-section">
      <card-component class="has-table has-mobile-sort-spaced" title="Películas" icon="movie">
        <modal-trash-box :is-active="isModalActive" :trash-subject="trashSubject" @confirm="trashConfirm" @cancel="trashCancel"/>
        <b-table
          :loading="isLoading"
          :paginated="paginated"
          :per-page="perPage"
          :striped="true"
          :hoverable="true"
          default-sort="name"
          :data="movies">
          <template slot-scope="props">
            <b-table-column label="Portada" class="has-no-head-mobile is-image-cell">
              <div v-if="props.row.cover" class="image">
                <img :src="props.row.cover">
              </div>
            </b-table-column>
            <b-table-column label="ID" field="id" sortable>
              {{ props.row.id }}
            </b-table-column>
            <b-table-column label="Nombre" field="name" sortable>
              {{ props.row.name }}
            </b-table-column>
            <b-table-column label="F. Publicación" field="date_published" sortable>
              {{ props.row.date_published_dmy }}
            </b-table-column>
            <b-table-column label="Estado" field="status" sortable>
              <template v-if="props.row.status == 1">Activo</template>
              <template v-else>Inactivo</template>
            </b-table-column>
            <b-table-column label="Acciones" custom-key="actions" class="is-actions-cell">
              <div class="buttons is-right">
                <router-link :to="{name:'movies.edit', params: {id: props.row.id}}" class="button is-small is-primary">
                  <b-icon icon="pencil" size="is-small"/>
                </router-link>
                <button class="button is-small is-light" type="button">
                  <b-icon v-if="props.row.status == 1" icon="lock" size="is-small"/>
                  <b-icon v-else icon="lock-open" size="is-small"/>
                </button>
                <button class="button is-small is-danger" type="button" @click.prevent="trashModal(props.row)">
                  <b-icon icon="trash-can" size="is-small"/>
                </button>
              </div>
            </b-table-column>
          </template>
          <section class="section" slot="empty">
            <div class="content has-text-grey has-text-centered">
              <template v-if="isLoading">
                <p>
                  <b-icon icon="dots-horizontal" size="is-large"/>
                </p>
                <p>Cargando...</p>
              </template>
              <template v-else>
                <p>
                  <b-icon icon="table" size="is-large"/>
                </p>
                <p>Sin datos.</p>
              </template>
            </div>
          </section>
        </b-table>
      </card-component>
    </section>
  </div>
</template>

<script>
import map from "lodash/map"
import CardComponent from "@/components/CardComponent"
import ModalBox from "@/components/ModalBox"
import TitleBar from "@/components/TitleBar"
import HeroBar from "@/components/HeroBar"
import CardToolbar from "@/components/CardToolbar"
import ModalTrashBox from "@/components/ModalTrashBox"
export default {
  name: "MovieIndex",
  components: { ModalTrashBox, CardToolbar, HeroBar, TitleBar, ModalBox, CardComponent },
  data () {
    return {
      isModalActive: false,
      trashObject: null,
      movies: [],
      isLoading: false,
      paginated: false,
      perPage: 10
    }
  },
  computed: {
    trashSubject () {
      if (this.trashObject) {
        return this.trashObject.name
      }
      return null
    }
  },
  created () {
    this.getData()
  },
  methods: {
    getData () {
      this.isLoading = true
      axios
        .get("/movies")
        .then(r => {
          this.isLoading = false
          if (r.data && r.data.data) {
            if (r.data.data.length > this.perPage) {
              this.paginated = true
            }
            this.movies = r.data.data
          }
        })
        .catch( err => {
          this.isLoading = false
          this.$buefy.toast.open({
            message: `Error: ${err.message}`,
            type: "is-danger",
            queue: false
          })
        })
    },
    trashModal (trashObject = null) {
      if (trashObject) {
        this.trashObject = trashObject
        this.isModalActive = true
      }
    },
    trashConfirm () {
      let url
      let method
      let data = null
      this.isModalActive = false
      if (this.trashObject) {
        method = "delete"
        url = `/movies/${this.trashObject.id}/destroy`
      }
      axios({
        method,
        url,
        data
      }).then( r => {
        this.getData()
        this.trashObject = null
        this.$buefy.snackbar.open({
          message: "Eliminado",
          queue: false
        })
      }).catch( err => {
        this.$buefy.toast.open({
          message: `Error: ${err.message}`,
          type: "is-danger",
          queue: false
        })
      })
    },
    trashCancel () {
      this.isModalActive = false
    }
  }
}
</script>
