<template>
  <div>
    <title-bar :title-stack="titleStack"/>
    <hero-bar>
      {{ heroTitle }}
      <router-link slot="right" to="/movies/index" class="button">
        Películas
      </router-link>
    </hero-bar>
    <section class="section is-main-section">
      <tiles>
        <card-component :title="formCardTitle" icon="pencil" class="tile is-child">
          <form @submit.prevent="submit">
            <template v-if="id">
              <b-field label="ID" horizontal>
                <b-input :value="id" custom-class="is-static" readonly />
              </b-field>
              <hr>
            </template>
            <b-field label="Nombre" horizontal>
              <b-input placeholder="Nombre Apellido" v-model="form.name" required />
            </b-field>
            <b-field label="F. Publicación" horizontal>
              <b-datepicker
                v-model="form.date_published"
                placeholder="Seleccionar"
                icon="calendar">
              </b-datepicker>
            </b-field>
            <b-field label="Portada" horizontal>
              <file-picker @file-id-updated="fileIdUpdated" :current-file="form.cover_filename"/>
            </b-field>
            <hr>
            <div class="buttons">
              <b-field horizontal>
                <b-button type="is-primary" :loading="isLoading" native-type="submit">Guardar</b-button>
                <router-link to="/movies/index" class="button">Cancelar</router-link>
              </b-field>
            </div>
          </form>
        </card-component>
        <card-component v-if="isMovieExists" title="Película" icon="movie" class="tile is-child">
          <movie-cover :cover="item.cover" :is-current-movie="false" class="image has-max-width is-aligned-center"/>
          <hr>
          <b-field label="Nombre">
            <b-input :value="item.name" custom-class="is-static" readonly/>
          </b-field>
          <b-field label="F. Publicación">
            <b-input :value="item.date_published_dmy" custom-class="is-static" readonly/>
          </b-field>
          <b-field label="F. Creación">
            <b-input :value="item.created_dmy" custom-class="is-static" readonly/>
          </b-field>
        </card-component>
      </tiles>
    </section>
  </div>
</template>

<script>
import clone from "lodash/clone"
import TitleBar from "@/components/TitleBar"
import HeroBar from "@/components/HeroBar"
import Tiles from "@/components/Tiles"
import CardComponent from "@/components/CardComponent"
import FilePicker from "@/components/FilePicker"
import MovieCover from "@/components/MovieCover"
import Notification from "@/components/Notification"

export default {
  name: "MovieForm",
  components: { MovieCover, FilePicker, CardComponent, Tiles, HeroBar, TitleBar, Notification },
  props: {
    id: {
      default: null
    }
  },
  data () {
    return {
      isLoading: false,
      item: null,
      form: this.getClearFormObject()
    }
  },
  computed: {
    titleStack () {
      let lastCrumb
      if (this.isMovieExists) {
        lastCrumb = this.form.name
      } else {
        lastCrumb = "Nueva película"
      }
      return [
        "Admin",
        "Películas",
        lastCrumb
      ]
    },
    heroTitle () {
      if (this.isMovieExists) {
        return this.form.name
      } else {
        return "Agregar película"
      }
    },
    formCardTitle () {
      if (this.isMovieExists) {
        return "Editar película"
      } else {
        return "Nueva película"
      }
    },
    isMovieExists () {
      return !!this.item
    }
  },
  created () {
    this.getData()
  },
  methods: {
    getClearFormObject () {
      return {
        id: null,
        name: null,
        date_published: new Date(),
        cover: null,
        cover_filename: null,
        file_id: null
      }
    },
    getData () {
      if (this.id) {
        axios
          .get(`/movies/${this.id}`)
          .then(r => {
            this.form = r.data.data
            this.item = clone(r.data.data)
            this.form.date_published = new Date(r.data.data.date_published)
          })
          .catch(e => {
            this.item = null
            this.$buefy.toast.open({
              message: `Error: ${e.message}`,
              type: "is-danger",
              queue: false
            })
          })
      }
    },
    fileIdUpdated (fileId) {
      this.form.file_id = fileId
      this.form.cover_filename = null
    },
    submit () {
      this.isLoading = true
      let method = "post"
      let url = "/movies/store"
      if (this.id) {
        method = "patch"
        url = `/movies/${this.id}`
      }
      axios({
        method,
        url,
        data: this.form
      }).then(r => {
        this.isLoading = false
        if (!this.id && r.data.data.id) {
          this.$router.push({name: "movies.edit", params: {id: r.data.data.id}})
          this.$buefy.snackbar.open({
            message: "Creado",
            queue: false
          })
        } else {
          this.item = r.data.data
          this.$buefy.snackbar.open({
            message: "Actualizado",
            queue: false
          })
        }
      }).catch(e => {
        this.isLoading = false
        this.$buefy.toast.open({
          message: `Error: ${e.message}`,
          type: "is-danger",
          queue: false
        })
      })
    }
  },
  watch: {
    id (newValue) {
      this.form = this.getClearFormObject()
      this.item = null
      if (newValue) {
        this.getData()
      }
    }
  }
}
</script>
