<template>
  <div>
    <title-bar :title-stack="titleStack"/>
    <hero-bar>
      {{ heroTitle }}
      <router-link slot="right" to="/schedules/index" class="button">
        Turnos
      </router-link>
    </hero-bar>
    <section class="section is-main-section">
      <tiles>
        <card-component :title="formCardTitle" icon="pencil" class="tile is-child">
          <form @submit.prevent="submit">
            <template v-if="id">
              <b-field label="ID" horizontal>
                <b-input :value="id" custom-class="is-static" readonly />
              </b-field>
              <hr>
            </template>
            <b-field label="Turno" horizontal>
              <b-timepicker
                v-model="form.hour"
                icon="clock"
                :enable-seconds="false"
                :hour-format="undefined"
                :incrementMinutes="30"
                placeholder="Seleccionar...">
              </b-timepicker>
            </b-field>
            <b-field label="Activo" class="has-check" horizontal>
              <b-checkbox v-model="form.status"
                true-value="1"
                false-value="0">
              </b-checkbox>
            </b-field>
            <div class="buttons">
              <b-field horizontal>
                <b-button type="is-primary" :loading="isLoading" native-type="submit">Guardar</b-button>
                <router-link to="/schedules/index" class="button">Cancelar</router-link>
              </b-field>
            </div>
          </form>
        </card-component>
        <card-component v-if="isScheduleExists" title="Turno" icon="schedule" class="tile is-child">
          <b-field label="Turno">
            <b-input :value="item.hour_only" custom-class="is-static" readonly/>
          </b-field>
          <b-field label="F. Creación">
            <b-input :value="item.created_dmy" custom-class="is-static" readonly/>
          </b-field>
        </card-component>
      </tiles>
    </section>
  </div>
</template>

<script>
import clone from "lodash/clone"
import TitleBar from "@/components/TitleBar"
import HeroBar from "@/components/HeroBar"
import Tiles from "@/components/Tiles"
import CardComponent from "@/components/CardComponent"
import Notification from "@/components/Notification"
import moment from "moment"

export default {
  name: "ScheduleForm",
  components: { CardComponent, Tiles, HeroBar, TitleBar, Notification },
  props: {
    id: {
      default: null
    }
  },
  data () {
    return {
      isLoading: false,
      item: null,
      form: this.getClearFormObject()
    }
  },
  computed: {
    titleStack () {
      let lastCrumb
      if (this.isScheduleExists) {
        lastCrumb = this.form.hour_only
      } else {
        lastCrumb = "Nuevo turno"
      }
      return [
        "Admin",
        "Turnos",
        lastCrumb
      ]
    },
    heroTitle () {
      if (this.isScheduleExists) {
        return this.form.hour_only
      } else {
        return "Agregar turno"
      }
    },
    formCardTitle () {
      if (this.isScheduleExists) {
        return "Editar turno"
      } else {
        return "Nuevo turno"
      }
    },
    isScheduleExists () {
      return !!this.item
    }
  },
  created () {
    this.getData()
  },
  methods: {
    getClearFormObject () {
      return {
        id: null,
        hour: moment().toDate(),
        status: null
      }
    },
    getData () {
      if (this.id) {
        axios
          .get(`/schedules/${this.id}`)
          .then(r => {
            this.form = r.data.data
            this.item = clone(r.data.data)
            this.form.hour = moment(r.data.data.hour.split(".")[0]).toDate()
          })
          .catch(e => {
            this.item = null
            this.$buefy.toast.open({
              message: `Error: ${e.message}`,
              type: "is-danger",
              queue: false
            })
          })
      }
    },
    submit () {
      this.isLoading = true
      let method = "post"
      let url = "/schedules/store"
      if (this.id) {
        method = "patch"
        url = `/schedules/${this.id}`
      }
      axios({
        method,
        url,
        data: this.form
      }).then(r => {
        this.isLoading = false
        if (!this.id && r.data.data.id) {
          this.$router.push({name: "schedules.edit", params: {id: r.data.data.id}})
          this.$buefy.snackbar.open({
            message: "Creado",
            queue: false
          })
        } else {
          this.item = r.data.data
          this.$buefy.snackbar.open({
            message: "Actualizado",
            queue: false
          })
        }
      }).catch(e => {
        this.isLoading = false
        this.$buefy.toast.open({
          message: `Error: ${e.message}`,
          type: "is-danger",
          queue: false
        })
      })
    }
  },
  watch: {
    id (newValue) {
      this.form = this.getClearFormObject()
      this.item = null
      if (newValue) {
        this.getData()
      }
    }
  }
}
</script>
