<template>
  <footer v-show="isFooterBarVisible" class="footer">
    <div class="container-fluid">
      <p class="year">Admin Pelis (c) {{ year }}</p>
    </div>
  </footer>
</template>

<script>
import moment from "moment"
import { mapState } from "vuex"

export default {
  name: "FooterBar",
  computed: {
    year () {
      return moment().year()
    },
    ...mapState([
      "isFooterBarVisible"
    ])
  }
}
</script>
