<template>
  <div class="is-movie-cover">
    <img :src="newMovieCover" :alt="movieName">
  </div>
</template>

<script>
import { mapState } from "vuex"
export default {
  name: "MovieCover",
  props: {
    cover: {
      type: String,
      default: null
    }
  },
  computed: {
    newMovieCover () {
      if (this.cover) {
        return this.cover
      }

      if (this.movieCover) {
        return this.movieCover
      }
    },
    ...mapState([
      "movieCover",
      "movieName"
    ])
  }
}
</script>
