<template>
  <nav v-show="isNavBarVisible" id="navbar-main" class="navbar is-fixed-top">
    <div class="navbar-brand">
      <a class="navbar-item is-hidden-desktop" @click.prevent="menuToggleMobile">
        <b-icon :icon="menuToggleMobileIcon"/>
      </a>
    </div>
    <div class="navbar-brand is-right">
      <a class="navbar-item navbar-item-menu-toggle is-hidden-desktop" @click.prevent="menuNavBarToggle">
        <b-icon :icon="menuNavBarToggleIcon" custom-size="default"/>
      </a>
    </div>
    <div class="navbar-menu fadeIn animated faster" :class="{'is-active':isMenuNavBarActive}">
      <div class="navbar-end">
        <nav-bar-menu class="has-divider">
          <div class="is-user-name">
            <span>{{ userName }}</span>
          </div>
          <div slot="dropdown" class="navbar-dropdown">
            <a class="navbar-item" @click="profile">
              <b-icon icon="account" custom-size="default"></b-icon>
              <span>Perfil</span>
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" @click="logout">
              <b-icon icon="logout" custom-size="default"></b-icon>
              <span>Cerrar sesión</span>
            </a>
          </div>
        </nav-bar-menu>
      </div>
    </div>
  </nav>
</template>

<script>
import { mapState } from "vuex"
import NavBarMenu from "@/components/NavBarMenu"

export default {
  name: "NavBar",
  components: {
    NavBarMenu
  },
  data () {
    return {
      isMenuNavBarActive: false
    }
  },
  computed: {
    menuNavBarToggleIcon () {
      return (this.isMenuNavBarActive) ? "close" : "dots-vertical"
    },
    menuToggleMobileIcon () {
      return this.isAsideMobileExpanded ? "backburger" : "forwardburger"
    },
    ...mapState([
      "isNavBarVisible",
      "isAsideMobileExpanded",
      "userName"
    ])
  },
  methods: {
    menuToggleMobile () {
      this.$store.commit("asideMobileStateToggle")
    },
    menuNavBarToggle () {
      this.isMenuNavBarActive = (!this.isMenuNavBarActive)
    },
    profile () {
      this.$router.push({name: "profile"}, () => {})
    },
    logout () {
      document.getElementById("logout-form").submit()
    }
  }
}
</script>
