<template>
  <div id="app">
    <nav-bar/>
    <aside-menu :menu="menu"/>
    <router-view/>
    <footer-bar/>
  </div>
</template>

<script>
import NavBar from "@/components/NavBar"
import AsideMenu from "@/components/AsideMenu"
import FooterBar from "@/components/FooterBar"

export default {
  name: "home",
  components: {
    NavBar,
    AsideMenu,
    FooterBar
  },
  computed: {
    menu () {
      return [
        "Inicio",
        [
          {
            to: "/",
            icon: "view-dashboard",
            label: "Dashboard"
          }
        ],
        "Administración",
        [
          {
            to: "/movies/index",
            label: "Películas",
            icon: "movie"
          },
          {
            to: "/schedules/index",
            label: "Turnos",
            icon: "clock"
          },
          {
            to: "/admins/index",
            label: "Administradores",
            icon: "account-multiple"
          }
        ],
        "Cuenta",
        [
          {
            to: "/profile",
            label: "Perfil",
            icon: "account"
          },
          {
            label: "Cerrar sesión",
            icon: "logout",
            event: "logout"
          }
        ]
      ]
    }
  },
  created () {
    axios
      .get("/user")
      .then(r => {
        this.$store.commit("user", r.data.data)
      })
      .catch(err => {
        this.$buefy.toast.open({
          message: `Error: ${err.message}`,
          type: "is-danger"
        })
      })
  }
}
</script>
