<template>
  <div>
    <title-bar :title-stack="['Admin', 'Administradores']"/>
    <hero-bar>
      Administradores
    </hero-bar>
    <section class="section is-main-section">
      <card-component title="Administradores" icon="account-multiple">
        <p>Nada por aquí por ahora.</p>
      </card-component>
    </section>
  </div>
</template>

<script>
import map from "lodash/map"
import CardComponent from "@/components/CardComponent"
import TitleBar from "@/components/TitleBar"
import HeroBar from "@/components/HeroBar"
import CardToolbar from "@/components/CardToolbar"
export default {
  name: "AdminIndex",
  components: { CardToolbar, HeroBar, TitleBar, CardComponent }
}
</script>
