<template>
  <div>
    <title-bar :title-stack="titleStack"/>
    <hero-bar :has-right-visible="false">
      Dashboard
    </hero-bar>
    <section class="section is-main-section">
      <tiles>
        <card-widget class="tile is-child" type="is-primary" icon="movie" :number="item.total" label="Películas"/>
      </tiles>
    </section>
  </div>
</template>

<script>
import TitleBar from "@/components/TitleBar"
import HeroBar from "@/components/HeroBar"
import Tiles from "@/components/Tiles"
import CardWidget from "@/components/CardWidget"
import CardComponent from "@/components/CardComponent"
export default {
  name: "home",
  components: {
    CardComponent,
    CardWidget,
    Tiles,
    HeroBar,
    TitleBar
  },
  data () {
    return {
      item: { total: 0 }
    }
  },
  computed: {
    titleStack () {
      return [
        "Admin",
        "Dashboard"
      ]
    }
  },
  created () {
    this.getData()
  },
  methods: {
    getData () {
      axios
        .get("/movies/total")
        .then(r => {
          if (r.data && r.data.data) {
            this.item = r.data.data
          }
        })
        .catch( err => {
          this.item = null
          this.$buefy.toast.open({
            message: `Error: ${err.message}`,
            type: "is-danger",
            queue: false
          })
        })
    },
  },
  mounted () {
    this.$buefy.snackbar.open({
      message: "¡Hola!",
      queue: false
    })
  }
}
</script>
