<template>
  <div>
    <title-bar :title-stack="titleStack"/>
    <hero-bar>
      Perfil
      <router-link slot="right" to="/" class="button">
        Dashboard
      </router-link>
    </hero-bar>
    <section class="section is-main-section">
      <tiles>
        <profile-update-form class="tile is-child"/>
        <card-component title="Perfil" icon="account" class="tile is-child">
          <b-field label="Nombre">
            <b-input :value="userName" custom-class="is-static" readonly/>
          </b-field>
          <hr>
          <b-field label="Correo">
            <b-input :value="userEmail" custom-class="is-static" readonly/>
          </b-field>
        </card-component>
      </tiles>
    </section>
  </div>
</template>

<script>
import { mapState } from "vuex"
import CardComponent from "@/components/CardComponent"
import TitleBar from "@/components/TitleBar"
import HeroBar from "@/components/HeroBar"
import ProfileUpdateForm from "@/components/ProfileUpdateForm"
import Tiles from "@/components/Tiles"
export default {
  name: "Profile",
  components: { Tiles, ProfileUpdateForm, HeroBar, TitleBar, CardComponent },
  computed: {
    titleStack () {
      return [
        "Admin",
        "Perfil"
      ]
    },
    ...mapState([
      "userName",
      "userEmail"
    ])
  }
}
</script>
